<footer class="footer">
	<div class="container">
		<div class="footer__wrap">

			<div class="footer__left">
				<div class="footer__logo">
					<img src="img/logo-e.svg" alt="Everad">
				</div>
				<div class="footer__info">
					<p class="footer__name">ООО "Восток"</p>
					<p class="footer__copyright">Copyright <span class="footer__year">2019</span></p>
				</div>
			</div>

			<div class="footer__center">
				 <a href="privacy.html" class="footer__privacy" target="_blank">Политика конфиденциальности</a>
				 <address class="footer__addres">г. Москва, ул. Чоботовская, д.17, пом.1, ком. 2</address>
			</div>

			<div class="footer__right">
				<p class="footer__requisites text-nowrap">ИНН 7707251637</p>
				<p class="footer__requisites text-nowrap">ОГРН 1157735921758</p>
			</div>

		</div>
	</div>
</footer>